
/* // XX-Large devices (larger desktops, 1400px and up) */

@media (max-width: 1400px) {  
    section {
        width: 1400px;
    }
    .banner{
        margin: 30px;
    }
    .match-news {
        margin: 50px 0 50px 0;
        padding: 25px;
    }

    footer .container{
        width: 100%;
    }
    .footer-menu li{
        margin: 0 10px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    section {
        width: 1200px;
    }
    h1{
        font-size: 67px;
    }
    .banner{
        margin: 20px;
    }
    .match-news {
        margin: 50px 0 50px 0;
        padding: 25px;
    }
    .left-btn{
        padding: 20px;
    }
    .team img {
        width: 50px;
    }
    .upcoming-match{
        padding: 15px;
    }
    .upcoming-match h3 {
        font-size: 16px;
    }
    footer .container{
        width: 100%;
    }
    .footer-menu li{
        margin: 0 10px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  
    section {
        width: 992px;
    }
    h1 {
        font-size: 42px;
        line-height: 1.2em;
    }
    .banner {
        margin: 30px;
    }
    .banner-left{
        padding: 0;
    }
    .banner-left p {
        margin: 15px 0 35px;
    }
    .match-news {
        margin: 50px 0 50px 0;
        padding: 25px;
    }
    .left-btn {
        border-radius: 15px;
        padding: 15px;
    }
    .left-btn .btn{
        margin: 10px;
        font-size: 16px;
    }

    .match-news .container {
        grid-column-gap: 20px;
    }
    .match-news-right {
        grid-column-gap: 10px;
    }
    .match-news-right .new-content {
        padding: 10px;
    }
    .match-news-right .new-content button {
        margin: 15px 0 0px;
        font-size: 14px;
    }
    .match-news-right .new-content h3{
        font-size: 16px;
    }
    .match-news-right .upcoming-match{
        padding: 15px;
    }
    .team img {
        width: 50px;
    }
    .upcoming-match h3 {
        font-size: 16px;
    }
    footer .container{
        width: 100%;
    }
    .footer-menu li{
        margin: 0 10px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  
    section {
        width: 768px;
    }
    img{
        width: 100%;
    }
    h1 {
        font-size: 33px;
        line-height: 35px;
    }
    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
    .banner {
        padding: 0 20px;
        margin: 20px;
    }
    .banner-left {
        padding: 17px;
    }
    .banner-left p {
        margin: 25px 0;
        line-height: 1.5em;
    }



    .match-news .container{
        display: inherit;
    }
    .left-btn{
        background-color: transparent;
        border: none;
        padding: 0
    }
    .left-btn .btn{
        display: inline-block;
        border: 1px solid #E8E8E8;
        font-weight: 500;
        border-radius: 10px;
        width: 20%;
        padding: 15px 20px;
        font-size: 16px;
    }
    .tb-btn {
        font-size: 16px;
        padding: 14px;
        margin: 0 auto;
        display: block;
        border: 1px solid transparent;
        width: 20%;
        text-align: center;
        text-transform: capitalize;
    }
    a.tb-btn:hover {
        border: 1px solid #DD0000;
        margin: 0 auto;
    }
    .match-news-right {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px 30px;
    }
    .tb-hide{
        display: none;
    }
    footer{
        padding: 50px 0;
    }
    footer .container {
        width: 100%;
    }
    footer hr{
        margin: 25px 0;
    }
    .footer-icon h4{
        font-size: 20px;
    }
    .footer-icon ul li a i {
        font-size: 18px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    section {
        width: 576px;
    }
    h1 {
        font-size: 56px;
        line-height: 57px;
    }
    p{
        font-size: 14px;
        line-height: 1.5em;
    }
    .btn {
        font-size: 16px;
        padding: 15px 20px;
    }
    img{
        width: 100%;
    }
    .banner {
        margin: 20px 20px 20px 20px;
        padding: 10px 0px 0;
        text-align: center;
      }
    .banner .container {
        display: inherit;
    }
    .banner p{
        width: 300px;
        margin: 25px auto 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .banner-right img {
        width: 50%;
        margin: 15px auto 0;
    }



    .match-news .container {
        display: inherit;
      }
      .match-news{
          margin: 0;
      }
      .left-btn {
        background-color: transparent;
        width: 60%;
        margin: 0 auto;
        padding: 20px 0;
    }
    .left-btn .btn {
        border: 1px solid #E8E8E8;
        font-weight: 500;
        font-size: 16px;
        padding: 15px 0;
        border-radius: 15px;
        display: block;
        width: 100%;
    }

    .match-news-right{
        display: inherit;
        padding: 25px;
    }
    .tb-btn{
        display: none;
    }
    .tb-hide{
        display: block;
    }
   
    footer {
        padding: 15px 0;
    }
    footer .container{
        width: 576px;
    }
    footer h2 a{
        font-size: 40px;
    }
    footer hr{
        margin: 10px 0;
    }
    .footer-menu {
        text-align: center;
        margin: 0;
    }
    .footer-menu ul, .footer-icon ul {
        display: inherit;
    }
    .footer-menu li {
        float: none;
        margin: 10px 0;
    }
    .footer-menu li a{
        font-size: 14px;
    }
    .footer-icon h4{
        font-size: 20px;
    }
    .footer-icon ul {
        display: flex;
      }
    .footer-icon ui li a{
        display: inline-block;
    }
    .footer-icon ui li a i{
        font-size: 20px;
    }

 }